<section id="user_login">
	<h3>Forgotten user id / password</h3>
	
	<form action="/user/forgot" method="post">
		<label>User Id:</label><input type="text" id="login" name="login" value="<%= @login %>" />
		<input type="submit" id="reset" name="reset" value="Reset my password" />

	</form>
	
	<div class="errors">
		<%= @msg %>
	</div>
	
	<div id="login_nav">
		<a href="/user/login">Login</a>
	</div>
</section>
