<section id="user_login">
	<h3>Login</h3>
	
	<div id="register" class="navy">
		<a href="/user/new">Register</a>
	</div>
	
	<form action="/user/login" method="post">
		<label>User Id:</label><input type="text" name="login" id="login" value="<%= @userid %>" />
		<label>Password:</label><input type="password" name="password" id="password" />
		<input type="submit" id="submit" name="submit" value="Login" />
	</form>
	
	<div class="errors">
		<%= @msg %>
	</div>
	
	<div id="login_nav">
		<a href="/user/forgot">I forgot my user id / password</a>
	</div>
</section>
