<header>Create PID(s)</header>

<section id="pid_new">

  <div class="red">
    <% if @pid && @pid.errors %>
      <% @pid.errors.full_messages.each do | message | %>
        <%= message %></br>
      <% end %>
    <% end %>
  </div>
  
  <form action="/link" method="post">
    <label>Url(s): <textarea name="url" required
                        title="One URL per line.\nEach URL should include its protocol (e.g. http://)">
                    </textarea></label>
        
    <input type="submit" name="Create">
  </form>

</section>