body {
	font-family:   monospace;
}

h1: {

}
h2 {

}

.red { color: red; }
.center{
  text-align:   center;
}

.bold, label, header {
	font-weight:	bold;
}

header {
  font-size:    14pt;
  
  margin-left:  15px;
}

label {
  margin-right: 15px;
}

#pid_info ul, #pid_history ul {
  list-style:   none;
}

#pid_info ul li, #pid_history ul li {
  margin-bottom: 3px;
  
}

#pid_history ul li.pid_version {
  margin-bottom:  25px;
}

table td {
  padding:        0 10px 0 10px;
}

#url { 
  width:      40%;
  height:     10%;
}