body {
  font-family:        Arial, Helvetica, sans-serif;
  color:              rgb(88, 89, 91);
  font-size:          14px;
  line-height:        16.625px;
}

h1, h2, h3, h4 { 
  clear:              left;
  color:               #005695; 
  margin:             45px 0 15px -15px;
  
  text-shadow: 3px 5px 10px #A4A4A4;
}

a { 
  color:              rgb(88, 89, 91);
  text-decoration:    none;
}

a.letterpress {
  color:              #504f4f;
  text-shadow:         0px 2px 1px #bbbaba;
}
a.letterpress:hover {
  color:               #666;
  text-shadow:         0px 2px 1px #333;
}

li {
  margin-bottom:      15px;  
}

hr {
  clear:              both;
  color:              #005695;
}

.right { float:        right; }
.left { float:        left; }
.center { text-align: center; }
.inline { display:    inline; }
.red { color:          #B40404; }
.navy { color:        #005695; }
.grey { color:        #d9d9d9; }

.underline { text-decoration: underline;}

.bold, label, header {
  font-weight:        bold;
}

.ok { background:     url('../ok_15.png') no-repeat center; }
.not_ok { background: url('../notok_15.png') no-repeat center; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#main {
  position:            relative;
  margin:              35px 0 0 55px;
  
  display:            inline-block;
  
  padding:            15px 15px 25px 15px;
  
  /* TODO - make this responsive! */
  width:              950px;
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius:      12px;
  
  background:         #fff;
  background:         -moz-linear-gradient(#fff, #E6E6E6);
  background:         -webkit-linear-gradient(#fff, #E6E6E6);
  background:         -o-linear-gradient(#fff, #E6E6E6);

  -moz-box-shadow:    1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow:         1px 1px 3px #000;
}
  
header {
  font-size:          14pt;
  
  margin-left:        15px;
}

section, article {
  position:            relative;
  clear:              both;
  margin:             5px 30px 10px 30px;
}

.errors { 
  color:              #B40404; 
  font-weight:         bold; 
  
  text-align:          center;

  width:              70%;
}

.icon {
  width:               15px;
}

nav {
  height:             26px;
  
  font-size:          12px;
  font-weight:        bold;
  text-align:         left;
}
nav ul{
  background-image:   url(../topnav_bg.jpg);
  border-radius:      11px;
  padding:            1px 0 3px 0;
  list-style:         none;
}
nav ul li{
  display:            inline;
  margin:             20px 5px 0 20px;
}

form {
  clear:              both;
  margin-top:          15px;
}
form div {
  position:            relative;
  float:               left; 
  margin:              0 15px 0 15px;
}
form input, form select, form a, form textarea, form span.form_informational, span.form_association { 
  position:            relative;
  float:               left; 
  
  margin-bottom:       10px;
  width:              200px;
  
  text-align:            left;
}
form span.form_informational a {
  position:              static;
  float:                none;
}
form label { 
  position:            relative;
  float:              left;
  clear:              both;
  
  width:              20%;
}
form a {
  text-align:          right;
  
  margin-top:          15px;
}
.form_association table {
  padding:            10px;
}

.download {
  float:              right;
  clear:              right;
  font-size:           10px;
  color:               #ffffff;
  padding:             4px 10px;
  margin-top:          10px;
  background: -moz-linear-gradient(
        top,
        #0b3761 0%,
        #0b3761);
  background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#0b3761),
        to(#0b3761));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 5px rgba(255,255,255,0.6);
  -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 5px rgba(255,255,255,0.6);
  box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 5px rgba(255,255,255,0.6);
  text-shadow:
        0px -1px 3px rgba(121,155,224,0.8),
        0px 1px 0px rgba(175,193,230,0.3);  
}
form input[type=submit], form input[type=submit].inline_button {
  color: #ffffff;
  background: -moz-linear-gradient(
    top,
    #0b3761 0%,
    #0b3761);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#0b3761),
    to(#0b3761));
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #000000;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 5px rgba(255,255,255,0.6);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 5px rgba(255,255,255,0.6);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 5px rgba(255,255,255,0.6);
  text-shadow:
    0px -1px 3px rgba(121,155,224,0.8),
    0px 1px 0px rgba(175,193,230,0.3);  
}

form input[type=submit] {
  font-size: 14px;
  padding: 8px 20px;
}
form input[type=submit].inline_button {
  display:          inline;
  font-size: 12px;
  padding: 8px 10px;
  width: 100px;
  position: relative;
  float: none;
  clear: none;
}

#spinner {
  position:          absolute;
  
  top:               20px;
  left:              320px;
}

ul {
  color:              #005695;
}

table { 
  clear:              both;
  border-spacing:     0;
  width:              100%;
  
  padding-top:        20px;
  
  font-size:          11pt;
}
table th {
  padding:            3px 5px 6px 5px;

  color:              #fff;
  font-weight:        normal;
  
  background:          #005695;
  background:         -moz-linear-gradient(top, #0b3761 0%, #0b3761);
  background:         -webkit-gradient(linear, left top, left bottom, from(#0b3761), to(#0b3761));
}
table th a {
  color:              #fff;
}
table td {
  padding:            3px 5px 6px 5px;
  
  border-bottom:      1pt solid #D8D8D8;
}

.message {
  color:              #298A08; 
  font-weight:         bold; 

  text-align:          center;

  width:              70%;
}

.pagination {
  text-align:         right;
  
}
.pagination a, .pagination span {
  margin-right:        10px;
}
.pagination a {
  text-decoration:    underline;
}
