# Whether or not the Redis DB should rebuild itself when the app restarts
rebuild_redis_on_startup: 'false'

# DB connection settings 
db_adapter: 'mysql2'
db_encoding: 'utf8'
db_host: 'server.domain.org'
db_port: '3306'
db_name: 'pid'
db_username: 'user'
db_password: 'password'