# Used for the title and header on layout.erb
organization_name: 'California Digital Library'
application_name: 'PID Service'

# The url that the system should direct users to when an inactive PID is requested
dead_pid_url: 'http://localhost:3000/link/inactive' 

# The server and port where the main PID application will be hosted (comment out the port if you do not need to specify)
host: 'localhost'
port: 3000

# Redis host and port are required
redis_host: 'localhost'
redis_port: 6379

# Limit the number of results that are returned during a PID search
search_results_limit: 50

# The maximum CSV file size allowed for upload on the Edit PID page (in kb)
max_upload_csv_size: 10240   #10MB

# The email address that the system uses to send mail
email_sender_address: 'system@domain.org'

# The type of email we're using (smtp or sendmail)
email_method: 'smtp'

# Smtp settings if we're using that
smtp_host: 'server.domain.org'
smtp_port: '25'
smtp_domain: 'domain.org'
smtp_user: 'user'
smtp_pwd: 'password'