rebuild_redis_on_startup: false

db_adapter: 'mysql'

db_host: 'server.domain.org'
db_port: '3306'
db_name: 'pid'
db_username: 'user'
db_password: 'password'


#db_host: 'localhost'
#db_port: '1433'
#db_name: 'seeded'
#db_username: 'root'
#db_password: ''