# Navigation bar links
nav_admin: 'Administration'
nav_home: 'Home'
nav_logout: 'Logout'
nav_pid_search: 'Find PIDs'
nav_pid_update: 'Batch PIDs'
nav_pid_create: 'Mint PIDs'
nav_reports: 'Reports'
nav_user: 'Profile'

# Page/Section headers
header_admin: 'Administration'
header_forgotten_password: 'Forgot my password'
header_group_create: 'New group'
header_group_list: 'Groups'
header_group_view: 'Group profile'
header_index: 'Home'
header_login: 'Login'
header_manage_maintainers: 'Users who can manage this group'
header_manage_users: 'Users that belong to this group'
header_not_found: 'The page you requested could not be found'
header_pid_edit: 'Batch modify PIDs'
header_pid_history: 'History'
header_pid_inactive: 'Inactive!'
header_pid_register: 'Mint a new PID'
header_pid_register_dead_url: 'The following PID(s) were created but the URL seems to be returning a 300 level - Moved, 404 - Page not Found, or a 500 - Server Error!<br />Please double check the URL to make sure its correct.'
header_pid_register_duplicate_url: 'The following PID(s) are already defined for the following URL(s)'
header_pid_register_success: 'Successfully created the following PID(s)'
header_pid_view: 'PID:'
header_reports: 'PID maintenance reports'
header_report_duplicate: 'Duplicate URLs'
header_report_inactive_criteria: 'Find inactive PIDs for a specific group'
header_report_inactive_results: 'Inactive PIDs'
header_report_invalid: 'PIDs with an invalid URL'
header_report_invalid_error: 'The following URLs are returning a server error'
header_report_invalid_moved: 'The following URLs are working but are redirected to another URL which may or may not be correct'
header_report_invalid_not_found: 'The following URLs are returning a not found message'
header_report_invalid_skipped: 'The following domains cannot be scanned due to contractual agreements established with the hosting company'
header_report_maintenance_criteria: 'PID maintenance report criteria'
header_report_maintenance_results: 'PID maintenance report results'
header_report_modifications_criteria: 'Modification details criteria'
header_report_modifications_results: 'Modification details results'
header_reset_password: 'Reset your password'
header_search_criteria: 'Or use the following search criteria'
header_search_pid_set: 'Find an individual PID or specific group of PIDs'
header_search_results: 'Search results - click on the PID number to view or update'
header_skip_check_add: 'Add a new domain'
header_skip_check_list: 'Domains that we cannot run link validation against'
header_unauthorized: 'You do not permission to do that'
header_user_list: 'Users'
header_user_register: 'New user registration'
header_user_view: 'User profile'
header_user_view_password: 'Change your password'

# Page based links to other pages
link_to_admin: 'Return to the administration page'
link_to_create_group: 'Create a new group'
link_to_delete_group: 'Delete'
link_to_forgotten_password: 'I forgot my password'
link_to_group_list: 'Return to the group list'
link_to_login: 'Login'
link_to_register_user: 'Register a new user'
link_to_reports: 'Return to the report list'
link_to_user_list: 'Return to the user list'

# Form elements
form_active: 'Is Active?'
form_activity_date_range: 'Activity Date Range:'
form_admin: 'Is system admin?'
form_affiliation: 'Affiliation:'
form_change_category: 'Change Category:'
form_confirm_password: 'Confirm:'
form_created_by: 'Created by:'
form_created_date: 'Created Date:'
form_created_date_range: 'Created Date Range:'
form_date_range: 'Date Range:'
form_deactivated_since: 'Deactivated From:'
form_description: 'Description:'
form_domain: 'Domain'
form_email: 'Email:'
form_file: 'CSV File:'
form_group: 'Group:'
form_group_maintainer: 'Can maintain group?'
form_group_name: 'Name:'
form_groupid: 'Group Id:'
form_interested: 'Groups that are watching this PID:'
form_interesteds: 'Show only the PIDs you are watching?'
form_locked: 'Is Locked?'
form_maintainers: 'Managers:'
form_modified_by: 'Last Modified by:'
form_modified_date: 'Last Modified:'
form_modified_date_range: 'Last Modified Range:'
form_name: 'Full Name:'
form_new_password: 'New Password:'
form_old_url: 'Old URL:'
form_password: 'Password:'
form_pid: 'PID:'
form_pid_range: 'PID Range:'
form_pid_set: 'PIDs (one per line):'
form_url: 'URL:'
form_urls: 'URL(s):'
form_userid: 'User Id:'
form_users: 'Users:'
form_notes: 'Notes:'
form_readonly: 'Read Only Account?'

# Hints that appear next to the criteria on the search and stats report pages
form_date_format: '(use the mm/dd/yyyy format - e.g. 01/15/2013)'
form_search_and: 'and'
form_search_between: 'between'
form_search_url_instruction: 'You may enter partial urls (e.g. google.com/)'

# No matches to the search
search_no_matches: 'No PIDs matched your search criteria!'
unable_to_load_criteria_defaults: 'Unable to retrieve the defaults for the criteria'

# Report errors
report_no_activity: 'No duplicate PIDs were found.'

# Create pid textarea tooltip
create_pids_tooltip: 'One URL per line. Each URL should include the protocol (e.g. http://)'
pid_set_tooltip: 'Your PIDs should be separated by commas.'

# Batch processing
batch_duplicate_url_log: 'The following URL(s) are already in use by the following PID(s)'
batch_failures: 'The following PID(s) could not be updated:'
batch_mint_log: 'Successfully minted the following PID(s):'
batch_revision_log: 'Successfully updated the following PID(s):'
batch_upload_failure: 'Unable to process the file you selected. Make sure its a CSV file!'

# Create multiple pids, some failed error message
create_pids_some_errors:
  "The URLs above could not be validated!<br />
  Please ensure that you have included the protocol (e.g. http://), and that each URL appears on its own line before 
  resubmitting the form."

# Buttons
button_add_skip_check: 'Add'
button_create_group: 'Save'
button_csv_download: 'Download as CSV'
button_forgotten_password: 'Reset my password'
button_login: 'Login'
button_process_batch: 'Process File'
button_register_user: 'Save'
button_reset: 'Reset'
button_reset_password: 'Save'
button_save_group: 'Save'
button_save_user: 'Save'
button_search: 'Search'
button_update_pid: 'Save'
button_file_upload: 'Choose File'

# Table headings
th_active: 'Active?'
th_affiliation: 'Affiliation'
th_change_category: 'Change Category'
th_change_types: 'Changes'
th_created_on: 'Created On'
th_deactivated_by: 'Deactivated By'
th_deactivated_on: 'Deactivated On'
th_description: 'Description'
th_domain: 'Domain'
th_duplicate_pids: 'Duplicate PIDs'
th_email: 'Email'
th_group: 'Group'
th_group_name: 'Name'
th_groupid: 'Group Id'
th_last_activity: 'Last Activity On'
th_last_modified_by: 'Last Modified By'
th_last_modified_on: 'Last Modified On'
th_locked: 'Locked?'
th_maintainer: 'Manager For'
th_maintainers: '# of Managers'
th_modified_date: 'Updated'
th_name: 'Full Name'
th_notes: 'Notes'
th_number_created: 'Created'
th_number_deactivated: 'Deactivated'
th_number_modified: 'Modified'
th_number_modifications: '# Times Modified'
th_old_url: 'Prior URL'
th_pid: 'PID'
th_url: 'URL'
th_userid: 'User Id'
th_users: '# of Users'

# True/False values in tables
td_false: 'No'
td_true: 'Yes'

# Make sure that you do not use tab characters in the text values below. It will cause the parser to crash
admin_text:
  "Please select from the options below:
  <ul>
    <li><a href='/user/list' class='letterpress'>Edit Users</a></li>
    <li><a href='/skip' class='letterpress'>Update URL Validation Exceptions</a></li>
  </ul>"

admin_text_super:
  "Please select from the options below:
  <ul>
    <li><a href='/group/list' class='letterpress'>Edit Groups</a></li>
    <li><a href='/user/list' class='letterpress'>Edit Users</a></li>
    <li><a href='/skip' class='letterpress'>Update URL Validation Exceptions</a></li>
  </ul>"

dead_pid_text:
  "The resource you requested is no longer available.<br />
   The issuing agency has either removed the resource from the Web or has moved it without providing a forwarding address.<br /><br />
   If you know the current location for the resource or have questions, please contact <a href='email@domain.com'>Contact Email</a>"

edit_pid_duplicate_url: 'This URL is also assigned to PID(s) {others} - (last checked on {last_checked})'

edit_pid_interested_parties: "The interested groups listed above will be notified of any changes you make to this PID."

edit_pid_invalid_url_300: 'Warning: This URL returned a "moved or redirect" message (HTTP status: {status}) on {last_checked}'
edit_pid_invalid_url_400: 'Warning: This URL returned a "not found" message (HTTP status: {status}) on {last_checked}'
edit_pid_invalid_url_500: 'Warning: This URL returned a "server error" message (HTTP status: {status}) on {last_checked}'

edit_pid_not_owner: "You are not the owner of this PID and cannot make changes!<br /><br />If you think it should be updated please contact: {?}."

edit_pid_text:
  "Select the CSV file that contains your changes. The file should be in the following format (without headers!): <br /><br />
  &nbsp;&nbsp;PID Id, New URL, Notes<br /><br /><br />
  To edit a PID you would include both the PID Id and the new URL<br />
  &nbsp;&nbsp;1234,http://www.newsite.org/pageA,Sample Edit PID<br /><br />
  To mint a new PID you would leave the PID Id blank.<br />
  &nbsp;&nbsp;,http://www.somesite.com/page,Sample Mint New PID<br /><br />
  To deactivate a PID you would leave its URL blank. (This will not actually delete the URL, just deactivate the PID)<br />
  &nbsp;&nbsp;1234,,Sample Deactivation<br /><br />"

edit_pid_text_2:
  "- The PID Id column should only contain the PID's number, not the entire URL. (e.g. 1234 not /PID/1234)<br /><br />
  - You may mix edit, mint, and deactivate records within the same file.<br /><br />
  - There is a 20MB limit to the size of the CSV file. Large files may take a long time to finish processing!<br /><br />
  - If any of the PIDs you are updating are used by other groups, they will be notified of the change via email."

error_text:
  "Oops, something went wrong! Please use your browser's back button and try that again."

groups_text: "Groups can be deleted once all of their their users and managers have been removed."

index_text: 
  "Hello World!"

new_group_text: "You will be able to add users and maintainers to the group once you click the 'Save' button."

new_pids_text: 
  "Enter your new URL(s) in the box above. Every URL should appear on a separate line and should include 
   a protocol (e.g. http://)."

not_found_text: 'The page you requested could not be found.'
  
report_modifications_text: "Click on the PID number to view the modification details.<br /><br />The CSV download displays the current and prior URL along with the user id."

reports_text: 
  "Please select on of the following reports below:
  <ul>
    <li><a href='/report/invalid' class='letterpress'>PIDs with invalid URLs</a></li>
    <li><a href='/report/duplicate' class='letterpress'>PIDs with duplicate URLs</a></li>
    <li><a href='/report/stats' class='letterpress'>PID maintenance statistics</a></li>
    <li><a href='/report/mods' class='letterpress'>PID modification details</a></li>
  </ul>"

search_text: 'You may click on any of the column headers below to sort the results.'

unauthorized_text:
  "You don't have the necessary permission to perform that action. <br /><br />Please speak with your local administrator if you feel that 
  this is a mistake."  

user_profile_text:
  "If you do not want to change your password, leave those fields blank."