# Authorization messages
account_inactive: 'This account is no longer active.'
account_locked: 'Your account has been locked due to too many failed login attempts!<br />Your account will automatically unlock after ${?} minutes.'
failed_login: 'Invalid user id or password.'
failed_login_close_to_lockout: 'Invalid password! You have #{?} attempts left before your account is automatically locked.'
login: 'Welcome back #{?}!'
logout: 'You have been logged out of the system.'
session_expired: 'Your session has expired. Please log back in to continue working.'

# General form validation messages
invalid_email: 'That email is not in the system!'
invalid_login: 'That user id is not in the system!'
login_already_exists: 'That user id is already in use!'
password_mismatch: 'The passwords you entered did not match!'
no_email: 'The email address cannot be blank!'
no_login: 'The user id cannot be blank!'
no_password: 'The password cannot be blank!'

# User controller messages
user_not_found: 'The user could not be found!'
user_password_reset_email: 'An email has been sent to your account. Please follow the instructions in the email to continue the password reset process.'
user_password_reset_expired: 
  'Your password reset request has expired. For security reasons you have only #{?} minutes between 
  the time you request a reset and you follow the link to the reset form in the confirmation email.'
user_password_reset_success: 'Your password has been reset.'
user_password_reset_unauthorized: 'You do not have permission to reset this password.'
user_register_failure: 'Unable to register the new user!'
user_register_success: 'The user has been registered.'
user_unauthorized: 'You do not have permission to view or change that user!'
user_update_failure: 'Unable to save your changes!'
user_update_success: 'Your changes have been saved.'

# Group controller messages
group_add_maintainer_failure: 'Unable to add the user!'
group_add_maintainer_duplicate: 'That user is already a maintainer of that group!'
group_add_maintainer_success: 'Successfully added the user.'
group_add_user_failure: 'Unable to add the user!'
group_add_user_duplicate: 'That user is already a member of that group!'
group_add_user_success: 'Successfully added the user.'
group_create_duplicate: 'That group already exists!'
group_create_failure: 'Unable to save your changes!'
group_create_success: 'The group has been saved.'
group_delete_failure: 'Unable to delete the group!'
group_delete_has_children: 'You must first remove all of the users and maintainers from the group!'
group_delete_success: 'The group has been deleted.'
group_not_found: 'That group could not be found!'
group_remove_maintainer_failure: 'Unable to remove the user!'
group_remove_maintainer_missing: 'That user is not a maintainer of the group!'
group_remove_maintainer_self: 'You cannot remove yourself!'
group_remove_maintainer_success: 'Sucessfully removed the user.'
group_remove_user_failure: 'Unable to remove the user!'
group_remove_user_missing: 'That user is not a member of the group!'
group_remove_user_success: 'Successfully removed the user.'
group_unauthorized: 'You do not have permission to manage that group!'
group_update_failure: 'Unable to save your changes!'
group_update_success: 'The group has been saved.'

# PID controller messages
pid_duplicate_url: 'The URL you specified is already used by PID {?}'
pid_mint_dead_url: 'The URL for PID {?} is not active. The PID was created but you should verify that you have supplied the correct URL!'
pid_mint_default_note: 'Incoming request from {?ip?} to mint {?}'
pid_mint_empty_url: 'You must provide a URL!'
pid_mint_failure: 'Unable to create PID for URL {?}.'
pid_mint_invalid_url: 'Invalid URL format: {?}'
pid_not_found: 'That PID could not be found!'
pid_revise_dead_url: 'The URL you specified is not active. Your change has been saved but please make sure you have the correct URL!'
pid_search_not_found: 'Your criteria returned no results!'
pid_unauthorized: 'You do not have permission to modify this PID!'
pid_update_failure: 'Unable to save your changes.'
pid_update_invalid_url: 'Invalid URL format'
pid_update_success: 'Your changes have been saved.'

# Interested party 
# Use {?} to have the system add the show PID url in the message
notify_interested_change: 'PID {?} has been modified:'
notify_interested_deactivation: 'The PID has been deactivated!'
# Use {?} to have the system add the PID id in the subject
notify_interested_subject: 'A PID you watch has been modified! (PID - {?})'
# Use {?old?} to have the system add the old URL and {?new?} for the new URL into the message
notify_interested_url_change: 'The URL has changed from {?old?} to {?new?}.'

# Batch processing
batch_process_failure: 'All or part of your CSV file could not be processed. Please see the errors below for details.'
batch_process_mint_failure: 'PID {?} could not be minted - '
batch_process_mint_inactive: 'Cannot mint a new inactive PID! Make sure that the URL column has a value if the PID id is empty!'
batch_process_revise_failure: 'PID {?} could not be updated - '
batch_process_revise_missing: 'PID {?} does not exist!'
batch_process_revise_wrong_group: 'PID {?} does not belong to your group!'
batch_process_success: 'Your CSV was successfully processed!'
invalid_file_type: 'The file you upload must be in the CSV format!'
no_file_selected: 'You must select a file to upload!'

reports_failure: 'There was a problem processing the report: '

# Domains that cannot be checked
skip_delete: 'The domain has been deleted'
skip_duplicate: 'The domain you specified is already in the system!'
skip_failure: 'Unable to add the specified domain!'
skip_not_found: 'That domain could not be found!'
skip_success: 'The domain has been added to the list.'
skip_unauthorized: "You cannot delete that domain because you do not belong to that group."